{% extends "setup.html" %}

{% block title %}Updating fee{% endblock %}

{% block page-title %}
<li>
    <a href="#" style="padding-left: 0px;padding-right: 0px; font-size: 16px;">
        <span class="fui-arrow-right"></span>
    </a>
</li>
<li>
    <a style="margin-left: 10px; text-align:vertical; padding-left: 10px;" href="#">
        Updating base fee for {{ destination_group.destination_name.name }} of provider {{ destination_group.provider.name }}
    </a>
</li>
{% endblock %}

{% block content %}

<div class="well well-small">
    <form action="{% url 'tarifica:destinations_update' destination_group.id %}" method="post" class="form-horizontal">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="control-group">
            {{ form.destination_name.errors }}
            <label class="control-label" for="id_destination_group">Destination
                <a class="help" href="#" data-toggle="popover" data-original-title="Destination Selection" data-content='Select a destination group for quick future reference for this tariff.'>
                    <i class="icon-question-sign"></i>
                </a>
            </label>
            <div class="controls">
                {{ form.destination_name }}
            </div>
        </div>
        <div class="control-group">
            {{ form.destination_country.errors }}
            <label class="control-label" for="id_destination_group">Country
                <a class="help" href="#" data-toggle="popover" data-original-title="Destination Country" data-content="Select a country for us to know where this tariff applies to.">
                    <i class="icon-question-sign"></i>
                </a>
            </label>
            <div class="controls">
                {{ form.destination_country }}
            </div>
        </div>
        <div class="control-group">
            {{ form.prefix.errors }}
            <label class="control-label" for="id_prefix">Call Prefix
                <a class="help" href="#" data-toggle="popover" data-original-title="Call Prefix" data-content="The part of the dialed number which indicates where you're calling. It begins with a country code and (in most places) continues with an area code. It also changes according to your provider. If you're unsure of how you're calling, you can check it by accessing your Elastix call history.<br><hr>If you want to add a <strong>Default Tariff</strong>, that is, a cost that should be applied if the prefix doesn't fit into any other configured tariffs, leave this space blank.">
                    <i class="icon-question-sign"></i>
                </a>
            </label>
            <div class="controls">
                {{ form.prefix }}
            </div>
        </div>
        <div class="control-group">
            {{ form.minute_fee.errors }}
            <label class="control-label" for="id_minute_fee">Minute Fee
                <a class="help" href="#" data-toggle="popover" data-original-title="Minute Fee" data-content="If your provider bills you all calls to this prefix by minute, input the fee here.">
                    <i class="icon-question-sign"></i>
                </a>
            </label>
            <div class="controls">
                <div class="input-prepend input-append">
                    <span class="add-on">{{ user_info.currency_symbol }}</span>
                    {{ form.minute_fee }}
                    <span class="add-on">{{ user_info.currency_code }}</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            {{ form.billing_interval.errors }}
            <label class="control-label" for="id_billing_interval">Billing interval
                <a class="help" href="#" data-toggle="popover" data-original-title="Billing Interval" data-content="Billing intervals in seconds. If your provider bills you by minute, input '60' here. If your provider bills you by second, input '1'. If your provider bills you by 'x' seconds at a time, input 'x'.">
                    <i class="icon-question-sign"></i>
                </a>
            </label>
            <div class="controls">
                <div class="input-append">
                    {{ form.billing_interval }}
                    <span class="add-on">seconds</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            {{ form.connection_fee.errors }}
            <label class="control-label" for="id_connection_fee">Call Connection Fee
                <a class="help" href="#" data-toggle="popover" data-original-title="Call Connection Fee" data-content="If your provider bills you all calls to this prefix by the number of calls, not minutes, or if they bill you a call connection fee plus a minute fee, input the fee per call here.">
                    <i class="icon-question-sign"></i>
                </a>
            </label>
            <div class="controls">
                <div class="input-prepend input-append">
                    <span class="add-on">{{ user_info.currency_symbol }}</span>
                    {{ form.connection_fee }}
                    <span class="add-on">{{ user_info.currency_code }}</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            {{ form.notes.errors }}
            <label class="control-label" for="id_notes">Notes</label>
            <div class="controls">
                {{ form.notes }}
            </div>
        </div>
        {{ form.provider }}
        {{ form.destination_group_id }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save Fee</button>
            <a class="btn" href="{% url 'tarifica:setup' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    $(function() {
        $('a.help').each(function(){
            $(this).popover({
                html: true,
                trigger: 'hover'
            });
        });
    });
    </script>
{% endblock %}
