{% extends "setup.html" %}

{% block title %}Updating tariff{% endblock %}

{% block content %}

<div class="row-fluid well well-small">
    <div class="span12">
        <h4>Updating base tariff for {{ destination_group.destination_name.name }} of provider {{ destination_group.provider.name }}</h4>
    </div>
</div>

<form action="{% url 'tarifica:destinations_update' destination_group.id %}" method="post" class="form-horizontal">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="control-group">
        {{ form.destination_name.errors }}
        <label class="control-label" for="id_destination_group">Destination</label>
        <div class="controls">
            {{ form.destination_name }}
            <span class="help-inline">Destination group for this tariff.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.destination_country.errors }}
        <label class="control-label" for="id_destination_group">Country</label>
        <div class="controls">
            {{ form.destination_country }}
            <span class="help-inline">Select a country for us to know where this tariff applies to.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.prefix.errors }}
        <label class="control-label" for="id_prefix">Call Prefix</label>
        <div class="controls">
            {{ form.prefix }}
            <span class="help-inline">The part of the dialed number which indicates where you're calling. It begins with a country code and (in most places) continues with an area code.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.minute_fee.errors }}
        <label class="control-label" for="id_minute_fee">Minute Fee</label>
        <div class="controls">
            <div class="input-prepend input-append">
                <span class="add-on">{{ user_info.currency_symbol }}</span>
                {{ form.minute_fee }}
                <span class="add-on">{{ user_info.currency_code }}</span>
            </div>
            <span class="help-inline">If your provider bills you all calls to this prefix by minute, input the fee here.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.billing_interval.errors }}
        <label class="control-label" for="id_billing_interval">Billing interval</label>
        <div class="controls">
            {{ form.billing_interval }}
            <span class="help-inline">Billing intervals in seconds. If your provider bills you by minute, input '60' here. If your provider bills you by second, input '1'. If your provider bills you by 'x' seconds at a time, input 'x'.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.connection_fee.errors }}
        <label class="control-label" for="id_connection_fee">Connection Fee</label>
        <div class="controls">
            <div class="input-prepend input-append">
                <span class="add-on">{{ user_info.currency_symbol }}</span>
                {{ form.connection_fee }}
                <span class="add-on">{{ user_info.currency_code }}</span>
            </div>
            <span class="help-inline">If your provider bills you all calls to this prefix by the number of calls, not minutes, or if they bill you a call connection fee plus a minute fee, input the fee per call here.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.notes.errors }}
        <label class="control-label" for="id_notes">Notes</label>
        <div class="controls">
            {{ form.notes }}
            <span class="help-inline">Add custom notes to this base tariff.</span>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save Tariff</button>
        <a class="btn" href="{% url 'tarifica:setup' %}">Cancel</a>
    </div>
</form>

{% endblock %}