{% extends "base.html"%}
{% load staticfiles %}

{% block navbar %}
<li>
    <a href="{% url 'tarifica:dashboard' %}">Home</a>
</li>
<li class="active">
    <a href="{% url 'tarifica:realtime' %}">Realtime</a>
</li>
<li>
    <a href="{% url 'tarifica:trunks' %}">Trunks</a>
</li>
<li>
    <a href="{% url 'tarifica:users_general' %}">Users</a>
</li>
<li>
    <a href="{% url 'tarifica:pinsets_general' %}">Pinsets</a>
</li>
<li>
    <a href="{% url 'tarifica:cdr' %}">General CDR</a>
</li>
<li class="pull-right">
    <a href="{% url 'tarifica:config' %}">My Settings</a>
</li>
<li class="pull-right">
    <a href="{% url 'tarifica:setup' %}"><i class="icon-cog"></i> Setup</a>
</li>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static "tarifica/css/jquery.jqplot.css" %}" rel="stylesheet">
{% endblock %}

{% block title %} Realtime {% endblock %}

{% block localization %}
    <a class="brand" style="margin-left: 10px; text-align:vertical;padding-right: 10px;" href="{% url 'tarifica:realtime' %}">Realtime</a>
{% endblock %}

{% block page-title %}
<li>
    <a href="#" style="padding-left: 0px;padding-right: 0px; font-size: 16px;">
        <span class="fui-arrow-right"></span>
    </a>
</li>
<li>
    <a style="margin-left: 10px; text-align:vertical; padding-left: 10px;" href="#">
        Current Calls
    </a>
</li>
{% endblock %}

{% block content %}

<div class="well well-small">
    <div id="graph"style="height:400px; min-height:400px, width:100%"></div>
</div>
<div id="container">
{% if data %}
    <div class="row-fluid">
        <div class="span12 well well-small">
            <table class="table table-bordered table-striped table-hovered">
                <thead>
                    <tr>
                        <th>Extension</th>
                        <th>Destination</th>
                        <th>Dialed Number</th>
                        <th>Pinset</th>
                        <th>Provider</th>
                        <th>Start</th>
                        <th>Active Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>{{ d.CallerID }}</td>
                        <td>
                            <img src="{{ d.destination_group.destination_country.flag }}">
                            {{d.destination_group.destination_name.name}}
                        </td>
                        <td>{{ d.dialed_number }}</td>
                        <td>{% if d.Accountcode == '' %}-{% else %}{{ d.Accountcode }}{% endif %}</td>
                        <td>{{ d.provider.name }}</td>
                        <td>{{ d.call_start }}</td>
                        <td>{{ d.Duration }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="well well-small">
        <h4>There are no active calls on your Elastix system right now.</h4>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "tarifica/js/jquery.jqplot.min.js" %}"></script>
    <script src="{% static "tarifica/js/plugins/jqplot.pieRenderer.min.js" %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $.jqplot.config.enablePlugins = true;
        $.jqplot.config.defaultColors = [
            "#eb871c", "#ee3323", "#54626b", "#7db0ca", "#b0ba21", "#45545e", "#afb5ba"
        ];
        var options = {
            seriesDefaults: {
                // Make this a pie chart.
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                    // Put data labels on the pie slices.
                    // By default, labels show the percentage of the slice.
                    showDataLabels: true
                }
            }, 
            legend: { show:true, location: 'e' }
        }
        var data = $.parseJSON('{{ graphData | safe }}');
        var graphExists = false;
        try{
            var plot1 = jQuery.jqplot ('graph', [data], options);
            graphExists = true;
        }
        catch(Exception){
            console.log('Exception!');
        }

        window.setInterval(function(){
            $.ajax({
                url: "{% url 'tarifica:realtime' 'update' %}",
                type: 'GET',
                dataType: 'json',
            })
            .done(function(data) {
                $('#container').html(data.htmlData);
                console.log(data.graphData);
                data = $.parseJSON(data.graphData);
                if(graphExists){
                    plot1.destroy();
                }
                try{
                    plot1 = jQuery.jqplot ('graph', [data], options);
                }catch(Exception){
                    console.log('exception when updating graph');
                }
            })
            .fail(function() {
                console.log("error");
            })          
        }, 3000);
    });
    </script>
{% endblock %}