{% extends "setup.html" %}

{% block title %}Setup{% endblock %}

{% block content %}

{% if user_info.bundles_configured and not user_info.is_first_import_finished %}
<div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <p>
        That's it! Now the only thing left to do, once you've configured all your trunks is to import the current call information, assign a cost to each call, and begin calculating monthly costs for a faster access.
    </p>
    <p>
        Now, let's do a test-run. This means we'll assign costs to each call, but won't save them to the database yet, so you can review the results and check that every tariff you need has already been configured.
    </p>
    <p>
        <a href="" class="btn btn-primary">
            Start Test-run!
        </a>
    </p>
</div>
{% endif %}
<div>
    <ul class="nav nav-pills well well-small">
        <li><a href="{% url 'tarifica:wizard_test_run' %}">Start Test-run</a></li>
        <li><a href="{% url 'tarifica:wizard_run' %}">Delete all imported data and run again</a></li>
    </ul>
</div>

{% if configured %}
<div class="row-fluid">
    <div class="span8 well well-small">
        <div class="span4">
            <h4><strong>Configured Trunks</strong></h4>
        </div>
        <table class="table table-striped table-hovered table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Tech</th>
                    <th>Billing End Day</th>
                    <th>Monthly cost ({{ user_info.currency_code }})</th>
                </tr>
            </thead>
            <tbody>
                {% for prov in configured %}
                    <tr>
                        <td>
                            <a href="{% url 'tarifica:providers_get' prov.id %}">
                                {{prov.name}}
                            </a>
                        </td>
                        <td>{{prov.provider_tech}}</td>
                        <td>{{prov.period_end}}</td>
                        <td>{{ user_info.currency_symbol }}{{prov.monthly_cost|floatformat:2}}</td>
                        <td>
                            <a href="{% url 'tarifica:destinations_create' prov.id %}">
                                Add Base Tariffs
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'tarifica:providers_update' prov.id %}" class="btn btn-mini btn-info" data-toggle="tooltip" title="Update">
                                <i class="icon-pencil icon-white"></i>
                            </a>
                            <a href="{% url 'tarifica:providers_delete' prov.id %}" class="btn btn-mini btn-danger" data-toggle="tooltip" title="Delete">
                                <i class="icon-remove-sign icon-white"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span4 well well-small">
        {% if not user_info.trunks_configured %}
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <p>
                Here you can find all active trunks of your Elastix System. To start configuring one, just click on its name and enter the requested information.
            </p>
            <p>
                When you're done configuring your trunks, click the button below to continue.
            </p>
            <p>
                <a href="{% url 'tarifica:config_update_user' 'trunks_configured' %}" class="btn btn-primary">
                    All trunks configured!
                </a>
            </p>
        </div>
        {% endif %}
        <h5>Unconfigured Trunks</h5>
        <table class="table table-striped table-hovered table-condensed">
            <tbody>
                {% for prov in not_configured %}
                <tr>
                    <td><a href="{% url 'tarifica:providers_create' prov.asterisk_id %}">{{prov.asterisk_name}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% else %}

<div class="row-fluid">
    <div class="span8 well well-small">
        <h4>No trunks configured yet.</h4>
    </div>
    <div class="span4 well well-small">
        {% if not user_info.trunks_configured %}
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <p>
                Here you can find all active trunks of your Elastix System. To start configuring one, just click on its name and enter the requested information.
            </p>
            <p>
                When you're done configuring your trunks, click the button below to continue.
            </p>
            <p>
                <a href="{% url 'tarifica:config_update_user' 'trunks_configured' %}" class="btn btn-primary">
                    All trunks configured!
                </a>
            </p>
        </div>
        {% endif %}
        <h5>Unconfigured Trunks</h5>
        <table class="table table-striped table-hovered table-condensed">
            <tbody>
                {% for prov in not_configured %}
                <tr>
                    <td><a href="{% url 'tarifica:providers_create' prov.asterisk_id %}">{{prov.asterisk_name}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if locales %}
<div class="row-fluid">
    <div class="span8 well well-small">
        <h4><strong>Configured Tariffs</strong></h4>
        <ul class="nav nav-tabs">
            {% for prov in configured %}
                <li {% if forloop.first %}class="active"{% endif %}><a href="#{{ prov.id }}" data-toggle="tab">{{ prov.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for prov in configured %}
            <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ prov.id }}">
                <table class="table table-striped table-hovered table-condensed">
                    <thead>
                        <tr>
                            <th>Trunk</th>
                            <th>Destination</th>
                            <th>Prefix</th>
                            <th>Connection Fee</th>
                            <th>Minute Fee</th>
                            <th>Has bundles?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for loc in locales%}
                        {% if loc.provider == prov %}
                        <tr>
                            <td>{{loc.provider}}</td>
                            <td>
                                <img src="{{ loc.destination_country.flag }}">
                                {{loc.destination_name.name}}
                            </td>
                            <td>{{loc.prefix}}</td>
                            <td>{{ user_info.currency_symbol }}{{loc.connection_fee|floatformat:2}} {{ user_info.currency_code }}</td>
                            <td>{{ user_info.currency_symbol }}{{loc.minute_fee|floatformat:2}} {{ user_info.currency_code }}</td>
                            <td>
                                {% if loc.has_bundles %}
                                <i class="icon-ok"></i>
                                {% else %}
                                <i class="icon-remove"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'tarifica:bundles_create' loc.id %}">
                                    Assign Bundles
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'tarifica:destinations_update' loc.id %}" class="btn btn-mini btn-info" data-toggle="tooltip" title="Update">
                                    <i class="icon-pencil icon-white"></i>
                                </a>
                                <a href="{% url 'tarifica:destinations_delete' loc.id %}" class="btn btn-mini btn-danger" data-toggle="tooltip" title="Delete">
                                    <i class="icon-remove-sign icon-white"></i>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="span4 well well-small">
        {% if user_info.trunks_configured and not user_info.base_tariffs_configured %}
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <p>
                After configuring your trunks, assign base tariffs to each. That is, how much it costs for you to call each destination group (Local, National, Intl...)
            </p>
            <p>
                When you're finished adding tariffs to each of your configured trunks, click on the button below to continue.
            </p>
            <p>
                <a href="{% url 'tarifica:config_update_user' 'base_tariffs_configured' %}" class="btn btn-primary">
                    All base tariffs configured!
                </a>
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% else %}
<div class="row-fluid">
    <div class="span8 well well-small">
        <h4>No base tariffs have been configured yet.</h4>
    </div>
    <div class="span4 well well-small">
        {% if user_info.trunks_configured and not user_info.base_tariffs_configured %}
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <p>
                After configuring your trunks, assign base tariffs to each. That is, how much it costs for you to call each destination group (Local, National, Intl...)
            </p>
            <p>
                When you're finished adding tariffs to each of your configured trunks, click on the button below to continue.
            </p>
            <p>
                <a href="{% url 'tarifica:config_update_user' 'base_tariffs_configured' %}" class="btn btn-primary">
                    All base tariffs configured!
                </a>
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% if bundles%}
<div class="row-fluid">
    <div class="span8 well well-small">
        <h4><strong>Configured Bundles</strong></h4>
        <table class="table table-striped table-hovered table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Provider</th>
                    <th>Destination</th>
                    <th>Amount</th>
                    <th>Cost ({{ user_info.currency_code }})</th>
                    <th>Apply priority</th>
                </tr>
            </thead>
            <tbody>
                {% for bun in bundles %}
                <tr>
                    <td>{{bun.name}}</td>
                    <td>{{bun.destination_group.provider.name}}</td>
                    <td>{{bun.destination_group.destination_name.name}}</td>
                    <td>{{bun.amount}} {{bun.tariff_mode.name}}s</td>
                    <td>{{ user_info.currency_symbol }}{{bun.cost|floatformat:2}}</td>
                    <td>{{bun.priority}}</td>
                    <td><a href="{% url 'tarifica:bundles_update' bun.id %}" class="btn btn-mini btn-info" data-toggle="tooltip" title="Edit">
                            <i class="icon-pencil icon-white"></i>
                        </a>
                        <a href="{% url 'tarifica:bundles_delete' bun.id %}" class="btn btn-mini btn-danger" data-toggle="tooltip" title="Delete">
                            <i class="icon-remove-sign icon-white"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span4">
        {% if user_info.base_tariffs_configured and not user_info.bundles_configured %}
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <p>
                If one of your providers offers you phone bundles (e.g. A bundle which lets you make 200 calls to some specific destination, in exchange for a low monthly fee), you can add see them here.
            </p>
            <p>
                To assign a bundle, select the destination group by clicking on the "Assign bundle" button from the list below belonging to the provider whose bundle you're using.
            </p>
            <p>
                When you're done adding bundles, click the button below to continue.
            </p>
            <p>
                <a href="{% url 'tarifica:config_update_user' 'bundles_configured' %}" class="btn btn-primary">
                    Bundle configuration finished!
                </a>
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% else %}
<div class="row-fluid">
    <div class="span8 well well-small"><h4>No bundles have been configured yet.</h4></div>
    <div class="span4 well well-small">
        {% if user_info.base_tariffs_configured and not user_info.bundles_configured %}
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <p>
                If one of your providers offers you phone bundles (e.g. A bundle which lets you make 200 calls to some specific destination, in exchange for a low monthly fee), you can add see them here.
            </p>
            <p>
                To assign a bundle, select the destination group by clicking on the "Assign bundle" button from the list below belonging to the provider whose bundle you're using.
            </p>
            <p>
                When you're done adding bundles, click the button below to continue.
            </p>
            <p>
                <a href="{% url 'tarifica:config_update_user' 'bundles_configured' %}" class="btn btn-primary">
                    Bundle configuration finished!
                </a>
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}