<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <link href="{% static "tarifica/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
        <title>{% block title %}Holaa!{% endblock %}</title>
        <meta name="viewport" content"width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="row-fluid well">
            <div class="span6">
                <img src="http://placehold.it/200x50">
            </div>
            <div class="span6 pull-right">
                {% block user %}
                <h5>User</h5>
                {% endblock %}
            </div>
        </div>
        <div id="navbar">
            <ul class="nav nav-pills nav-inverse">
                {% block navbar %}
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Otras Cosas</a>
                </li>
                {% endblock %}
            </ul>
        </div>

            {% block content %}{% endblock %}


    <footer class="footer">
        <div class="container">
            <p>NEXTOR Telecom.</p>
            <p>Version 1.0</p>
        </div>
    </footer>


        <script src="{% static "tarifica/js/jquery-1.10.2.min.js" %}"></script>
        <script src="{% static "tarifica/js/bootstrap.min.js" %}"></script>
    </body>
</html>