<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    {% block css %}
        <link href="{% static "tarifica/css/bootstrap.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "tarifica/css/docs.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "tarifica/css/styles.css" %}" rel="stylesheet" media="screen">
    {% endblock %}
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>{% block title %}NEXTOR Tarificador{% endblock %}</title>
    <meta name="viewport" content"width=device-width, initial-scale=1.0">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>

{% block body %}
{% block body-special %}
<body>
{% endblock %}
    {% block navbar %}
    <div class="navbar">
        <div class="navbar-inner" style="padding-top: 5px; padding-bottom: 5px;">
            <a href="http://www.mangoanalytics.org/" target="_blank">
                <img class="pull-left" src="{% static "tarifica/img/mango_image_logo.png" %}" alt="Hi!" style="height:40px; margin-right:5px;"/>
            </a>
            <a href="http://www.mangoanalytics.org/" target="_blank">
                <img class="pull-left" src="{% static "tarifica/img/mango_text_logo.png" %}" 
                alt="Hi!" />
            </a>
            {% block localization %}
                <a class="brand" style="margin-left: 10px; text-align:vertical;padding-right: 10px;" href="{% url 'tarifica:dashboard' %}">Dashboard</a>
            {% endblock %}
            <ul class="nav">
                {% block page-title %}
                {% endblock %}
            </ul>
            <ul class="nav pull-right">
                <!-- Data processing status bar-->
                {% if user_info.test_run_in_progress %}
                <li>
                    <a href="{% url 'tarifica:wizard_check_test_run_status' %}"><i class="icon-exclamation-sign"></i> Check Test Run Status</a>
                </li>
                {% endif %}
                {% if user_info.processing_in_progress %}
                <li>
                    <a href="{% url 'tarifica:wizard_check_test_run_status' %}"><i class="icon-exclamation-sign"></i> Check Import Status</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'tarifica:setup' %}"><i class="icon-cog"></i> Setup</a>
                </li>
                <li>
                    <a href="{% url 'tarifica:config' %}"><i class="icon-user"></i> My Settings</a>
                </li>
                <li>
                    <a href="{% url 'tarifica:logout' %}"><i class="icon-off"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
    {% endblock %}

    {% block content %}{% endblock %}
    {% block footer %}
    <footer class="well well-small">
        <div class="text-center">
            <ul class="inline">
                <li>
                    <a href="{% url 'tarifica:dashboard' %}">Dashboard</a>
                </li>
                <li>|</li>
                <li>
                    <a href="{% url 'tarifica:config' %}">Settings</a>
                </li>
                <li>|</li>
                <li>
                    <i class="icon-cog"></i> <a href="{% url 'tarifica:setup' %}">Setup</a>
                </li>
                <li>|</li>
                <li>
                    <a href="{% url 'tarifica:manual' %}">Manual</a>
                </li>
                <li>|</li>
                 <li>
                    <i class="icon-question-sign"></i>
                    <a href="#myModal" role="button" data-toggle="modal"> About</a>
                </li>
                <li>|</li>
                <li>
                    <i class="icon-search"></i> <a href="{% url 'tarifica:privacy' %}">Privacy</a>
                </li>
            </ul>
        </div>
        <div>
            <p class="text-center">
                <a target="_blank" href="http://www.mangoanalytics.org">Mango Analytics</a> is licensed under <a target="_blank" href="http://opensource.org/licenses/GPL-3.0">GPLv3</a> by <a target="_blank" href="http://www.nextortelecom.com">NZXT Telecomunicaciones de México, S.A.</a>, 2013
            </p>
            <p class="text-center">
                <strong>Version 1.0.6</strong>
            </p>
        </div>
    </footer>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">About Mango Analytics</h3>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <a target="_blank" href="http://www.mangoanalytics.org">
                    <img src="{% static 'tarifica/img/full_logo.png' %}">
                </a>
            </div>
            <p>
                <a target="_blank" href="http://www.mangoanalytics.org">Mango Analytics</a> is an initiative by Nextor Telecom Mexico (NZXT TELECOMUNICACIONES DE MEXICO SA CV) 
            </p>
            <p>
                Licensed under <a target="_blank" href="http://opensource.org/licenses/GPL-3.0">GPLv3</a>, Version 1.0.6
            </p>
            <p>
                For support and general inquiries, please refer to our website <a target="_blank" href="http://www.mangoanalytics.org">http://www.mangoanalytics.org</a>
            </p>
            <p>
                Please chip in. If you like the software and it helps you lower your phone bills, we would greatly appreciate your contribution, thanks!
            </p>
            <p class="text-center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="text-center">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="BFP5VK7VQFZ7L">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </p>
            <img src="http://addon-24.mangoanalytics.org/about.png">
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
    {% endblock %}

{% endblock %}

{% block js %}
    <script src="{% static "tarifica/js/jquery.min.js" %}"></script>
    <script src="{% static "tarifica/js/bootstrap.min.js" %}"></script>
{% endblock %}

</body>
</html>