<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <link href="{% static "tarifica/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "tarifica/css/bootstrap-datetimepicker.min.css" %}" type="text/css" rel="stylesheet" media="screen">
        <title>{% block title %}NEXTOR Tarificador{% endblock %}</title>
        <meta name="viewport" content"width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="row-fluid well well-small">
            <div class="span9">
                <img src="{% static "tarifica/nextorlogo.png" %}">
            </div>
            <div class="span3">
                {% block user %}
                <h5>User</h5>
                {% endblock %}
            </div>
        </div>
        <div id="navbar">
            <ul class="nav nav-pills">
                {% block navbar %}
                <li>
                    <a href="{% url 'tarifica:dashboard' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'tarifica:setup' %}">Setup</a>
                </li>
                <li>
                    <a href="{% url 'tarifica:realtime' %}">Realtime</a>
                </li>
                <li class="active">
                    <a href="{% url 'tarifica:trunks' %}">Trunks</a>
                </li>
                <li>
                    <a href="{% url 'tarifica:users_general' %}">Users</a>
                </li>
                {% endblock %}
            </ul>
        </div>

            {% block content %}{% endblock %}


    <footer class="footer">
        <div class="container" style="float:center">
            <p>NEXTOR Telecom.</p>
            <p>Version 1.0</p>
        </div>
    </footer>


        <script src="{% static "tarifica/js/jquery-1.10.2.min.js" %}"></script>
        <script src="{% static "tarifica/js/bootstrap.min.js" %}"></script>
        <script src="{% static "tarifica/js/bootstrap-datetimepicker.min.js" %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>