{% extends "base.html"%}

{% block navbar %}
<li>
    <a href="{% url 'tarifica:dashboard' %}">Home</a>
</li>
<li>
    <a href="{% url 'tarifica:setup' %}">Setup</a>
</li>
<li>
    <a href="{% url 'tarifica:realtime' %}">Realtime</a>
</li>
<li>
    <a href="{% url 'tarifica:trunks' %}">Trunks</a>
</li>
<li>
    <a href="{% url 'tarifica:users_general' %}">Users</a>
</li>
<li class="active">
    <a href="{% url 'tarifica:wizard_start' %}">Call Wizard</a>
</li>
<li>
    <a href="{% url 'tarifica:config' %}"><i class="icon-cog"></i> Config</a>
</li>
{% endblock %}