{% extends "base.html" %}

{% block title %} Initial Config {% endblock %}

{% block content %}
<h1>Initial Call Detail Digestion:</h1>

<div class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<strong><i class="icon-exclamation-sign"></i> Attention:</strong> 
	This operation may take a long time, depending on your Elastix server resources and the amount of calls made.
</div>
<p>
	When pressing the "Start!" button, we'll begin assigning each of your calls a cost based on the previous configuration step. 
</p>
<p>
	<a class="btn btn-primary" href="{% url 'tarifica:start_step4' %}">Start!</a>
</p>

{% endblock %}