{% extends "setup.html" %}

{% block title %}Add bundles to {{ destination_group }}{% endblock %}

{% block content %}

<div class="row-fluid well well-small">
    <div class="span12">
        <h4> Adding bundles to provider {{ destination_group.provider.name }} for {{ destination_group.destination_name.name }} </h4>
    </div>
</div>

<form action="{% url 'tarifica:bundles_create' destination_group.id %}" method="post" class="form-horizontal">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="control-group">
        {{ form.name.errors }}
        <label class="control-label" for="id_name">Name</label>
        <div class="controls">
            {{ form.name }}
            <span class="help-inline">Custom name for this bundle.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.tariff_mode.errors }}
        <label class="control-label" for="id_tariff_mode">Billing Mode</label>
        <div class="controls">
            {{ form.tariff_mode }}
            <span class="help-inline">Is this bundle billed per sesion or per minute?</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.cost.errors }}
        <label class="control-label" for="id_cost">Cost</label>
        <div class="controls">
            <div class="input-prepend input-append">
                <span class="add-on">{{ user_info.currency_symbol }}</span>
                {{ form.cost }}
                <span class="add-on">{{ user_info.currency_code }}</span>
            </div>
            <span class="help-inline">The monthly fee charged by your provider for this bundle.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.amount.errors }}
        <label class="control-label" for="id_amount">Amount of minutes/sessions</label>
        <div class="controls">
            {{ form.amount }}
            <span class="help-inline">How many minutes/sessions does this bundle have?</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.priority.errors }}
        <label class="control-label" for="id_amount">Priority</label>
        <div class="controls">
            {{ form.priority }}
            <span class="help-inline">If you have several bundles that include a common destination, which should be applied first?</span>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save Bundle</button>
        <a class="btn" href="{% url 'tarifica:setup' %}">Cancel</a>
    </div>
</form>

{% endblock %}