{% extends "users.html"%}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link href="{% static "tarifica/css/bootstrap-datetimepicker.min.css" %}" type="text/css" rel="stylesheet" media="screen">
    <link href="{% static "tarifica/css/jquery.jqplot.css" %}" rel="stylesheet">
{% endblock %}

{% block title %} User Detail {% endblock %}

{% block content %}

<div class="row-fluid">

    <div class="span12 well well-small">

        {% if custom %}
            <a href="{% url 'tarifica:users_detail' extension.id %}" class="btn btn-primary"><i class="icon-white icon-align-justify"></i> This Month</a>
        {% else %}
            {% if last_month %}
            <a href="{% url 'tarifica:users_detail' extension.id %}" class="btn btn-primary"><i class="icon-white icon-align-justify"></i> This Month</a>
            {% else %}
            <a href="{% url 'tarifica:users_detail_period' extension_id=extension.id period_id='lastMonth' %}" class="btn btn-primary"><i class="icon-white icon-align-justify"></i> Last Month</a>
            {% endif %}
        {% endif %}
        <a href="#custom" class="btn btn-primary" data-toggle="modal"></i>Custom</a>

        <div id="custom" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Customize</h3>
            </div>
            <div class="modal-body">
                <form id="modal-form" action="{% url 'tarifica:users_detail_period' extension.id 'custom' %}" method="post" class="form-vertical">{% csrf_token %}
                    {{ form.non_field_errors }}
                    <div id="datetimepicker1" class="input-append">
                        <label for="id_start_date">Start date</label>
                        {{ form.start_date }}
                        <span class="add-on">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                            </i>
                        </span>
                    </div>
                    <div id="datetimepicker2" class="input-append">
                        <label for="id_end_date">End date</label>
                        {{ form.end_date }}
                        <span class="add-on">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                            </i>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
                <a href="" id="modal-form-submit" type="submit" class="btn btn-primary">Load</a>
            </div>
        </div>

        <div id="container" style="float:right;text-align:center">
            <h5>Average cost for this extension is <font color="red">{{ user_info.currency_symbol }}{{average | floatformat:"2"}} {{ user_info.currency_code }}</font></h5>
        </div>

    </div>

</div>

<div class="row-fluid">
    <div class="span6 well well-small">
        <div style="float:right">
            <a href="{% url 'tarifica:users_analytics' extension.id %}" class="btn btn-primary"></i>Usage analysis</a>
        </div>
        <h5><strong> User Detail </strong></h5>
        <table class="table table-hovered table-condensed" border="0">
            <tbody>
                <tr>
                    <th>Ext</th>
                    <td>{{extension.extension_number}}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{extension.name}}</td>
                </tr>
            </tbody>
        </table>
        {% if destinations %}
        <table class="table table-bordered table-striped table-hovered table-condensed">
            <thead>
                <tr>
                    <th>COUNTRY</th>
                    <th>DESTINATION</th>
                    <th>COST {{ user_info.currency_code }}</th>
                </tr>
            </thead>
            <tbody>
                {% for d in destinations %}
                <tr>
                    <td><img src="{{ d.destination_country.flag }}"></td>
                    <td>{{d.destname}}</td>
                    <td>{{ user_info.currency_symbol }}{{d.cost | floatformat:"2"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h5>There are no registered calls up to this moment</h5>
        {% endif %}


    </div>
    <div id="graph" class="span6 well well-small" style="height:300px; min-height:300px">
    </div>
</div>

</div>

<div class="row-fluid">
    <div class="span12 well well-small">
        <img src="http://placehold.it/1700x300">
    </div>
</div>

{% if all_calls %}
<div class="row-fluid">
    <div class="span12 well well-small">
        <table class="table table-bordered table-striped table-hovered table-condensed">
            <thead>
                <tr>
                    <th>DATE</th>
                    <th>TIME</th>
                    <th>DESTINATION</th>
                    <th>MINUTES</th>
                    <th>COST {{ user_info.currency_code }}</th>
                    <th>Dialed NUMBER</th>
                </tr>
            </thead>
            <tbody>
                {% for call in all_calls%}
                <tr>
                    <td>{{call.dat}}</td>
                    <td>{{call.time}}</td>
                    <td>{{call.name}}</td>
                    <td>{{call.duration}}</td>
                    <td>{{ user_info.currency_symbol }}{{call.cost | floatformat:"2"}}</td>
                    <td>{{call.dialed_number}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}

<div class="row-fluid">
    <div class="span12 well well-small">
        <h5>There are no registered calls up to this moment</h5>
    </div>
</div>

{% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "tarifica/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "tarifica/js/jquery.jqplot.min.js" %}"></script>
    <script src="{% static "tarifica/js/plugins/jqplot.barRenderer.min.js" %}"></script>
    <script src="{% static "tarifica/js/plugins/jqplot.categoryAxisRenderer.min.js" %}"></script>
    <script src="{% static "tarifica/js/plugins/jqplot.canvasAxisTickRenderer.min.js" %}"></script>

    <script type="text/javascript">
        $('#modal-form-submit').on('click', function(e){
            // We don't want this to act as a link so cancel the link action
            e.preventDefault();

            // Find form and submit it
            $('#modal-form').submit();
        });

        $(document).ready(function(){
            $('#datetimepicker1').datetimepicker({
                pickTime: false
            });
            $('#datetimepicker2').datetimepicker({
                pickTime: false
            });

            var data = $.parseJSON('{{ data | safe }}');

            var thisMonth = data[2];
            var lastMonth = data[3];
            var lastTwoMonths = data[4];
            // Can specify a custom tick Array.
            // Ticks should match up one for each y value (category) in the series.
            var ticks = data[1];
             
            var plot1 = $.jqplot('graph', [thisMonth, lastMonth, lastTwoMonths], {
                // The "seriesDefaults" option is an options object that will
                // be applied to all series in the chart.
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    rendererOptions: {fillToZero: true}
                },
                // Custom labels for the series are specified with the "label"
                // option on the series option.  Here a series option object
                // is specified for each series.
                series:[
                    {label:data[0][0]},
                    {label:data[0][1]},
                    {label:data[0][2]}
                ],
                // Show the legend and put it outside the grid, but inside the
                // plot container, shrinking the grid to accomodate the legend.
                // A value of "outside" would not shrink the grid and allow
                // the legend to overflow the container.
                legend: {
                    show: true,
                    placement: 'outsideGrid'
                },
                axes: {
                    // Use a category axis on the x axis and use our custom ticks.
                    xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: ticks
                    },
                    // Pad the y axis just a little so bars can get close to, but
                    // not touch, the grid boundaries.  1.2 is the default padding.
                    yaxis: {
                        pad: 1.05,
                        tickOptions: {formatString: '$%d'}
                    }
                }
            });
        });
    </script>
{% endblock %}