{% extends "users.html"%}
{% block title %}User Analytics{% endblock %}


{% block content %}

<div class="row-fluid">
    <div class="span12 well well-small">
        <h4>Monthly user behavior</h4>
        <img src="http://placehold.it/1600x300">
    </div>
</div>

<div class="row-fluid well well-small">
{% if top_calls %}
    <div class="span6">
        <h5>TOP 10 DIALED NUMBERS OF THE YEAR</h5>
        <img src="http://placehold.it/650x305">
    </div>

    <div class="span6">
        <table class="table table-bordered table-striped table-hovered table-condensed">
            <thead>
                <tr>
                    <th>DESTINO</th>
                    <th>MINUTOS</th>
                    <th>COSTO</th>
                </tr>
            </thead>
            <tbody>
                {% for call in top_calls%}
                <tr>
                    <td>{{call.dialed_number}}</td>
                    <td>{{call.duration}}</td>
                    <td>${{call.cost}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>5555555556</td>
                    <td>30</td>
                    <td>$9,584</td>
                </tr>
                <tr>
                    <td>5555555557</td>
                    <td>50</td>
                    <td>$9,999</td>
                </tr>
                <tr>
                    <td>5555555555</td>
                    <td>20</td>
                    <td>$9,001</td>
                </tr>
                <tr>
                    <td>5555555556</td>
                    <td>30</td>
                    <td>$9,584</td>
                </tr>
                <tr>
                    <td>5555555557</td>
                    <td>50</td>
                    <td>$9,999</td>
                </tr>
                <tr>
                    <td>5555555555</td>
                    <td>20</td>
                    <td>$9,001</td>
                </tr>
                <tr>
                    <td>5555555556</td>
                    <td>30</td>
                    <td>$9,584</td>
                </tr>
                <tr>
                    <td>5555555557</td>
                    <td>50</td>
                    <td>$9,999</td>
                </tr>
                <tr>
                    <td>5555555557</td>
                    <td>50</td>
                    <td>$9,999</td>
                </tr>
            </tbody>
        </table>
    </div>

{% else %}

    <div class="span12">
        <h5>There are no registered calls up to this moment</h5>
    </div>

{% endif %}

</div>


<div class="row-fluid">

    <div class="span12 well well-small">
        <div id="container" style="float:right">
            {% if custom %}

                <a href="{% url 'tarifica:users_analytics' extension.id %}" class="btn btn-primary"><i class="icon-white icon-align-justify"></i> This Month</a>

            {% else %}

                {% if last_month %}
                <a href="{% url 'tarifica:users_analytics' extension.id %}" class="btn btn-primary"><i class="icon-white icon-align-justify"></i> This Month</a>
                {% else %}
                <a href="{% url 'tarifica:users_analytics_period' extension_id=extension.id period_id='lastMonth' %}" class="btn btn-primary"><i class="icon-white icon-align-justify"></i> Last Month</a>
                {% endif %}

            {% endif %}

            <a href="#custom" class="btn btn-primary" data-toggle="modal"></i>Custom</a>

            <div id="custom" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Customize</h3>
                </div>
                <div class="modal-body">
                    <form action="#" method="post" class="form-vertical">{% csrf_token %}
                        {{ form.non_field_errors }}
                        <div id="datetimepicker1" class="input-append">
                            <label for="id_start_date">Start date</label>
                            {{ form.start_date }}
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                </i>
                            </span>
                        </div>
                        <div id="datetimepicker2" class="input-append">
                            <label for="id_end_date">End date</label>
                            {{ form.end_date }}
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                </i>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
                    <a href="{% url 'tarifica:users_analytics_period' extension.id 'custom' %}"  type="submit" class="btn btn-primary">Load</a>
                </div>
            </div>
        </div>

        <div id="container" style="float:left;text-align:center">
            <h4>Detalle de uso del periodo </h4>
        </div>

        {% if all_calls %}
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-bordered table-striped table-hovered table-condensed">
                    <thead>
                        <tr>
                            <th>FECHA</th>
                            <th>HORA</th>
                            <th>TIPO DESTINO</th>
                            <th>MINUTOS</th>
                            <th>COSTO</th>
                            <th>NUMERO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12 jun 2013</td>
                            <td> 12:00 pm </td>
                            <td> CELULAR </td>
                            <td> 50 </td>
                            <td> $5,000 </td>
                            <td> 5555555555 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="row-fluid">
            <div class="span12 well well-small">
                <h5>There are no registered calls up to this moment</h5>
            </div>
        </div>
        {% endif %}
    </div>

</div>



{% endblock %}


{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('#datetimepicker1').datetimepicker({
            pickTime: false
        });
    });
</script>

<script type="text/javascript">
    $(function() {
        $('#datetimepicker2').datetimepicker({
            pickTime: false
        });
    });
</script>

{% endblock %}