{% extends "trunks.html" %}

{% block title %}Setup{% endblock %}

{% block content %}


{% if configured %}

<div class="row-fluid">
    <div class="span8 well well-small">
        <div class="span4"><h4><strong>TRONCALES CONFIGURADAS</strong></h4></div>
        <table class="table table-striped table-hovered table-condensed">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>TIPO</th>
                    <th>CORTE</th>
                    <th>RENTA MENSUAL</th>
                    <th>TIENE PAQUETES?</th>
                </tr>
            </thead>
            <tbody>
                {% for prov in configured %}
                    <tr>
                        <td>{{prov.name}}</td>
                        <td>{{prov.provider_type}}</td>
                        <td>{{prov.period_end}}</td>
                        <td>${{prov.monthly_cost}}</td>
                        {% if prov.has_bundles%}
                            <td>SI</td>
                            <td><a href="{% url 'tarifica:bundles_create' prov.id %}">Asignar Paquetes</a></td>
                            <td><a href="{% url 'tarifica:bundles_provider_get' prov.id %}">Ver Paquetes</a></td>
                            <td><a href="{% url 'tarifica:destinations_create' prov.asterisk_id %}">Agregar Tarifas Base</a></td>
                            <td><a href="{% url 'tarifica:destinations_update' prov.id %}" class="btn btn-mini btn-info" data-toggle="tooltip" title="Editar">
                                <i class="icon-pencil icon-white"></i>
                            </a>
                            <a href="{% url 'tarifica:deleteprovider' prov.id %}" class="btn btn-mini btn-danger" data-toggle="tooltip" title="Eliminar">
                                <i class="icon-remove-sign icon-white"></i></a>
                            </td>
                        {% else %}
                            <td>NO</td>
                            <td><a href="{% url 'tarifica:setupbundles' prov.id %}">Asignar Paquetes</a></td>
                            <td></td>
                            <td><a href="{% url 'tarifica:setupbasetariffs' prov.asterisk_id %}">Agregar Tarifas Base</a></td>
                            <td><a href="{% url 'tarifica:setupchangeprovider' prov.id %}" class="btn btn-mini btn-info" data-toggle="tooltip" title="Editar">
                                <i class="icon-pencil icon-white"></i>
                            </a>
                            <a href="{% url 'tarifica:deleteprovider' prov.id %}" class="btn btn-mini btn-danger" data-toggle="tooltip" title="Eliminar">
                                <i class="icon-remove-sign icon-white"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span4 well well-small">
        <h5>TRONCALES NO CONFIGURADAS</h5>
        <table class="table table-striped table-hovered table-condensed">
            <tbody>
                {% for prov in not_configured %}
                <tr>
                    <td><a href="{% url 'tarifica:setupprovider' prov.asterisk_id %}">{{prov.asterisk_name}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% else %}

<div class="row-fluid">
    <div class="span8 well well-small">
        <h4>Aún no hay troncales configurados</h4>
    </div>
    <div class="span4 well well-small">
        <h5>TRONCALES NO CONFIGURADAS</h5>
        <table class="table table-striped table-hovered table-condensed">
            <tbody>
                {% for prov in not_configured %}
                <tr>
                    <td><a href="{% url 'tarifica:setupprovider' prov.asterisk_id %}">{{prov.asterisk_name}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}





{% if bundles%}
<div class="row-fluid">
    <div class="span12 well well-small">
        <div class="span4"><h4><strong>PAQUETES CONFIGURADOS</strong></h4></div>
        <table class="table table-striped table-hovered table-condensed">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>COSTO</th>
                    <th>ORDEN</th>
                </tr>
            </thead>
            <tbody>
                {% for bun in bundles %}
                <tr>
                    <td>{{bun.name}}</td>
                    <td>${{bun.cost}}</td>
                    <td>{{bun.priority}}</td>
                    <td><a href="{% url 'tarifica:setupchangebundles' bun.id %}" class="btn btn-mini btn-info" data-toggle="tooltip" title="Editar">
                            <i class="icon-pencil icon-white"></i>
                        </a>
                        <a href="{% url 'tarifica:deletebundle' bun.id %}" class="btn btn-mini btn-danger" data-toggle="tooltip" title="Eliminar">
                            <i class="icon-remove-sign icon-white"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% else %}

<div class="row-fluid well well-small">
    <div class="span10"><h4>Aún no hay paquetes configurados</h4></div>
</div>

{% endif %}


{% if locales %}
<div class="row-fluid">
    <div class="span12 well well-small">
        <div class="span4"><h4><strong>LOCALIDADES CONFIGURADAS</strong></h4></div>
        <table class="table table-striped table-hovered table-condensed">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>PREFIJO</th>
                    <th>MATCH</th>
                    <th>MODO</th>
                </tr>
            </thead>
            <tbody>
                {% for loc in locales%}
                <tr>
                    <td>{{loc.destination_group.name}}</td>
                    <td>{{loc.destination_group.prefix}}</td>
                    <td>{{loc.destination_group.matching_number}}</td>
                    <td>{{loc.mode.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

<div class="row-fluid">
    <div class="span12 well well-small">
        <h5>Aún no hay localidades configuradas.</h5>
    </div>
</div>

{% endif %}




{% endblock %}
