{% extends "setup.html" %}

{% block title %}Updating tariff{% endblock %}


{% block content %}

<div class="row-fluid well well-small">
    <div class="span12">
        <h4>Updating base tariff for {{ destination_group.destination_name.name }} of provider {{ destination_group.provider.name }}</h4>
    </div>
</div>

<form action="{% url 'tarifica:destinations_update' destination_group.id %}" method="post" class="form-horizontal">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="control-group">
        {{ form.destination_name.errors }}
        <label class="control-label" for="id_destination_group">Destination</label>
        <div class="controls">
            {{ form.destination_name }}
            <span class="help-inline">Destination group for this tariff.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.destination_country.errors }}
        <label class="control-label" for="id_destination_group">Country</label>
        <div class="controls">
            {{ form.destination_country }}
            <span class="help-inline">Select a country for us to know where this tariff applies to.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.prefix.errors }}
        <label class="control-label" for="id_prefix">Call Prefix</label>
        <div class="controls">
            {{ form.prefix }}
            <span class="help-inline">The part of the dialed number which indicates where you're calling. It begins with a country code and (in most places) continues with an area code.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.tariff_mode.errors }}
        <label class="control-label" for="id_tariff_mode">Billing Mode</label>
        <div class="controls">
            {{ form.tariff_mode }}
            <span class="help-inline">Does your provider charge you per sesion or per minute?</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.cost.errors }}
        <label class="control-label" for="id_cost">Cost</label>
        <div class="controls">
            {{ form.cost }}
            <span class="help-inline">How much does your provider charge per sesion/minute?</span>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save Tariff</button>
        <a class="btn" href="{% url 'tarifica:setup' %}">Cancel</a>
    </div>
</form>

{% endblock %}