{% extends "trunks.html" %}

{% block title %}Add trunk information{% endblock %}


{% block content %}

<div class="row-fluid well well-small">
    <div class="span12">
        <h4> Trunk {{provider.asterisk_name}} </h4>
    </div>
</div>

<form action="{% url 'tarifica:providers_create' provider.asterisk_id %}" method="post" class="form-horizontal">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="control-group">
        {{ form.name.errors }}
        <label class="control-label" for="id_name">Name</label>
        <div class="controls">
            {{ form.name }}
            <span class="help-inline">Custom name for this trunk.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.monthly_cost.errors }}
        <label class="control-label" for="id_monthly_cost">Monthly Fee</label>
        <div class="controls">
            {{ form.monthly_cost }}
            <span class="help-inline">Monthly fee charged by this trunk's providers.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.period_end.errors }}
        <label class="control-label" for="id_period_end">Billing start date</label>
        <div class="controls">
            {{ form.period_end }}
            <span class="help-inline">Day of the month when billing starts.</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.payment_type.errors }}
        <label class="control-label" for="id_payment_type">Payment Mode</label>
        <div class="controls">
            {{ form.payment_type }}
            <span class="help-inline">Do your provider charges you when your billing period ends, or do you need to pay beforehand in order to use their service?</span>
        </div>
    </div>
    <div class="control-group">
        {{ form.channels.errors }}
        <label class="control-label" for="id_channels">Channels</label>
        <div class="controls">
            {{ form.channels }}
            <span class="help-inline">How many calls can you make at the same time?</span>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a class="btn" href="{% url 'tarifica:setup' %}">Cancel</a>
    </div>
</form>

{% endblock %}
