{% extends "realtime.html" %}

{% block title %} Realtime {% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span12 well well-small">
        <img src="http://placehold.it/1500x380">
    </div>
</div>





<div class="row-fluid">
    <div class="span12 well well-small">
        <table class="table table-bordered table-striped table-hovered">
            <thead>
                <tr>
                    <th>EXT/PIN</th>
                    <th>TIPO DESTINO</th>
                    <th>NUMERO</th>
                    <th>TRONCAL</th>
                    <th>INICIO</th>
                    <th>TIEMPO ACTIVA</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{d.0}}</td>
                    <td>{{d.1}}</td>
                    <td>{{d.3}}</td>
                    <td>{{d.2}}</td>
                    <td>{{d.5}}</td>
                    <td>{{d.4}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
