{% extends "base.html" %}

{% block title %} Realtime {% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span12 well well-small">
        <img src="http://placehold.it/1500x380">
    </div>
</div>





<div class="row-fluid">
    <div class="span12 well well-small">
        <table class="table table-bordered table-striped table-hovered">
            <thead>
                <tr>
                    <th>EXT/PIN</th>
                    <th>TIPO DESTINO</th>
                    <th>NUMERO</th>
                    <th>TRONCAL</th>
                    <th>INICIO</th>
                    <th>TIEMPO ACTIVA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>119</td>
                    <td>CELULAR NACIONAL</td>
                    <td>0446622558974</td>
                    <td>TELMEX1</td>
                    <td>12:00 AM</td>
                    <td>10 MIN</td>
                </tr>
                <tr>
                    <td>119</td>
                    <td>CELULAR NACIONAL</td>
                    <td>0446622558974</td>
                    <td>TELMEX1</td>
                    <td>12:00 AM</td>
                    <td>10 MIN</td>
                </tr>
                <tr>
                    <td>119</td>
                    <td>CELULAR NACIONAL</td>
                    <td>0446622558974</td>
                    <td>TELMEX1</td>
                    <td>12:00 AM</td>
                    <td>10 MIN</td>
                </tr>
                <tr>
                    <td>119</td>
                    <td>CELULAR NACIONAL</td>
                    <td>0446622558974</td>
                    <td>TELMEX1</td>
                    <td>12:00 AM</td>
                    <td>10 MIN</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
