{% extends "base.html" %}

{% block title %}Agregar paquetes de bla{% endblock %}


{% block content %}

<div class="row-fluid well">
    <div class="span12">
        <h4> Troncal bla </h4>
    </div>
</div>



{% if not base %}


<div class="row-fluid well">
    <div class="span12">
        <h4> No hay tarifas base configuradas, favor de configurar tarifas base de troncal primero </h4>
    </div>
</div>


{% else %}

<form action="{% url 'tarifica:setupbundles' %}" method="post" class="form-horizontal">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="control-group">
        {{ form.name.errors }}
        <label class="control-label" for="id_name">Nombre</label>
        <div class="controls">
            {{ form.name }}
        </div>
    </div>
    <div class="control-group">
        {{ form.destination_group.errors }}
        <label class="control-label" for="id_destination_group">Localidad</label>
        <div class="controls">
            {{ form.destination_group }}
        </div>
    </div>
    <div class="control-group">
        {{ form.tariff_mode.errors }}
        <label class="control-label" for="id_tariff_mode">Modo</label>
        <div class="controls">
            {{ form.tariff_mode }}
        </div>
    </div>
    <div class="control-group">
        {{ form.cost.errors }}
        <label class="control-label" for="id_cost">Costo</label>
        <div class="controls">
            {{ form.cost }}
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Guardar Paquete</button>
        <a class="btn" href="{% url 'tarifica:dashboardtroncales' %}">Cancelar</a>
    </div>
</form>
{% endif %}


{% endblock %}