{% extends "base.html" %}

{% block title %}Agregar tarifa base de {{provider.name}}{% endblock %}


{% block content %}

<div class="row-fluid well">
    <div class="span12">
        <h4> Troncal {{provider.name}} </h4>
    </div>
</div>


<form action="{% url 'tarifica:setupbasetariffs' provider.asterisk_id %}" method="post" class="form-horizontal">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="control-group">
        {{ form.destination_group.errors }}
        <label class="control-label" for="id_destination_group">Localidad</label>
        <div class="controls">
            {{ form.destination_group }}
        </div>
    </div>
    <div class="control-group">
        {{ form.prefix.errors }}
        <label class="control-label" for="id_prefix">Prefijo</label>
        <div class="controls">
            {{ form.prefix }}
        </div>
    </div>
    <div class="control-group">
        {{ form.matching_number.errors }}
        <label class="control-label" for="id_matching_number">Expresión Regular</label>
        <div class="controls">
            {{ form.matching_number }}
        </div>
    </div>
    <div class="control-group">
        {{ form.tariff_mode.errors }}
        <label class="control-label" for="id_tariff_mode">Modo</label>
        <div class="controls">
            {{ form.tariff_mode }}
        </div>
    </div>
    <div class="control-group">
        {{ form.cost.errors }}
        <label class="control-label" for="id_cost">Costo</label>
        <div class="controls">
            {{ form.cost }}
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Guardar Tarifa</button>
        <button type="button" class="btn">Cancelar</button>
    </div>
</form>

{% endblock %}