{% extends "trunks.html" %}

{% block title %}Cambiar paquetes de {{provider.name}}{% endblock %}


{% block content %}

<div class="row-fluid well">
    <div class="span12">
        <h4> Troncal {{provider.name}} </h4>
    </div>
</div>



<form action="{% url 'tarifica:setupchangebundles' b.id %}" method="post" class="form-horizontal">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="control-group">
        {{ form.name.errors }}
        <label class="control-label" for="id_name">Nombre</label>
        <div class="controls">
            {{ form.name }}
        </div>
    </div>
    <div class="control-group">
        {{ form.destination_group.errors }}
        <label class="control-label" for="id_destination_group">Localidad</label>
        <div class="controls">
            {{ form.destination_group }}
        </div>
    </div>
    <div class="control-group">
        {{ form.tariff_mode.errors }}
        <label class="control-label" for="id_tariff_mode">Modo</label>
        <div class="controls">
            {{ form.tariff_mode }}
        </div>
    </div>
    <div class="control-group">
        {{ form.cost.errors }}
        <label class="control-label" for="id_cost">Costo</label>
        <div class="controls">
            {{ form.cost }}
        </div>
    </div>
    <div class="control-group">
        {{ form.amount.errors }}
        <label class="control-label" for="id_amount">Cantidad de minutos\sesiones</label>
        <div class="controls">
            {{ form.amount }}
        </div>
    </div>
    <div class="control-group">
        {{ form.priority.errors }}
        <label class="control-label" for="id_amount">Prioridad</label>
        <div class="controls">
            {{ form.priority }}
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Guardar Paquete</button>
        <a class="btn" href="{% url 'tarifica:dashboardtrunks' %}">Cancelar</a>
    </div>
</form>

{% endblock %}