{% extends "trunks.html"%}

{% block title %} Trunks {% endblock %}

{% block content %}

<div class="row-fluid">

    <div class="span12 well well-small">

        {% if custom %}
            <a href="" class="btn btn-primary"><i class="icon-white icon-align-justify"></i> This Month</a>
        {% else %}
            {% if last_month %}
            <a href="" class="btn btn-primary"><i class="icon-white icon-align-justify"></i> This Month</a>
            {% else %}
            <a href="" class="btn btn-primary"><i class="icon-white icon-align-justify"></i> Last Month</a>
            {% endif %}
        {% endif %}
        <a href="#custom" class="btn btn-primary" data-toggle="modal"></i>Custom</a>

        <div id="custom" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Customize</h3>
            </div>
            <div class="modal-body">
                <form action="#" method="post" class="form-vertical">{% csrf_token %}
                    {{ form.non_field_errors }}
                    <div id="datetimepicker1" class="input-append">
                        <label for="id_start_date">Start date</label>
                        {{ form.start_date }}
                        <span class="add-on">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                            </i>
                        </span>
                    </div>
                    <div id="datetimepicker2" class="input-append">
                        <label for="id_end_date">End date</label>
                        {{ form.end_date }}
                        <span class="add-on">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                            </i>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
                <a href=""  type="submit" class="btn btn-primary">Load</a>
            </div>
        </div>
    </div>
</div>


<div class="row-fluid">

    <div class="span6 well well-small">

        <h5> Usage </h5>

        <table class="table table-bordered table-striped table-hovered table-condensed">
            <tbody>
                {% for prov in providers %}
                <tr>
                    <th>{{prov.provider.name}}</th>
                    <td>{% if prov.total_cost == None %}
                            $0.00
                        {% else %}
                            ${{ prov.total_cost }}
                        {% endif %}
                    </td>
                    <td><a href="#">More</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h5> Gross consumption of today ${{totalTrunksCost}}</h5>

    </div>

    <div class="span6 well well-small">

        <img src="http://placehold.it/700x196">

    </div>

</div>


{% for prov in providers %}
<div class="row-fluid">

    <div class="span6 well well-small">

        <table class="table table-hovered table-condensed">
            <tbody>
                <tr>
                    <th>PROVIDER</th>
                    <td>{{prov.provider.name}}<div id="container" style="float:right"> <a href="#">Bundles</a></div></td>
                </tr>
                <tr>
                    <th>TRUNK NAME</th>
                    <td>{{prov.provider.asterisk_name}}</td>
                </tr>
                <tr>
                    <th>TRUNK TYPE</th>
                    <td>{{prov.provider.provider_type}}</td>
                </tr>
                <tr>
                    <th>BILLING CYCLE</th>
                    <td>{{prov.provider.period_end}} of every month</td>
                </tr>
                <tr>
                    <th>BILLING DUE</th>
                    <td>{{prov.provider.period_end}}</td>
                </tr>
                <tr>
                    <th>PAYMENT TYPE</th>
                    <td>{{prov.provider.payment_type}}</td>
                </tr>
            </tbody>
        </table>

        <h5><br><strong>AVERAGE MONTHLY COST</strong></h5>

        <table class="table table-hovered table-condensed">
            <tbody>
                <tr>
                    <th>Billing cycle usage</th>
                    <td>$45,0000</a></td>
                </tr>
                <tr>
                    <th>Month's usage</th>
                    <td>$65,000</td>
                </tr>
            </tbody>
        </table>
        <div id="container" style="float:right"><a href="#" class="btn btn-primary"></i>Ver Mas</a></div>

    </div>

    <div class="span6 well well-small">

        <h5><strong>Monthly behavior of {{prov.provider.name}}</strong></h5>
        <img src="http://placehold.it/700x343">

    </div>

</div>

{% endfor %}

{% endblock %}


{% block scripts %}

<script type="text/javascript">
    $(function() {
        $('#datetimepicker1').datetimepicker({
            pickTime: false
        });
    });
</script>

<script type="text/javascript">
    $(function() {
        $('#datetimepicker2').datetimepicker({
            pickTime: false
        });
    });
</script>

{% endblock %}