{% extends "trunks.html" %}

{% block title %} Trunks {% endblock %}

{% block content %}
<div class="row-fluid">
    <!--Columna izquierda-->
    <div class="span6">
        <!--Consumos de este mes -->
        <div class="well well-small">
            <p>
                <strong>{{ provider.name }}</strong>
                <span class="btn-group pull-right">
                    <a href="{% url 'tarifica:trunks' 'thisMonth' %}" class="btn">
                        This Month
                    </a>
                    <a href="{% url 'tarifica:trunks' 'lastMonth' %}" class="btn">
                        Last Month
                    </a>
                    <a href="{% url 'tarifica:trunks' 'custom' %}" class="btn">
                        Custom Interval
                    </a>
                </span>
            </p>
            <p>
                <strong>Trunk type:</strong> {{ provider.provider_type }}
            </p>
            <p>
                <strong>Billing start:</strong> {{ provider.period_end }} monthly
            </p>
            <p>
                <strong>Payment Type:</strong> {{ provider.payment_type }}
            </p>
            <p>
                <strong>Average monthly cost:</strong> {{ provider.name }}
            </p>
            <p>
                <strong>Current period cost:</strong> {{ provider.name }}
                <span class="pull-right">
                    <a href="{% url 'tarifica:trunks_get' provider.id %}"></a>
                </span>
            </p>
        </div>

        <!--Gráfica tráfico por costo -->
        <div class="well well-small">
            wii
        </div>
    </div>

    <!--Columna derecha-->
    <div class="span6">
        <!--Gráfica de barras-->
        <div class="well well-small"></div>
        <!--Tabla de costos históricos-->
        <div class="well well-small">
            <table class="table table-ordered table-striped table-bordered table-hovered table-condensed">
                <thead>
                    <tr>
                        <th>Billing interval</th>
                        <th>Total Cost</th>
                        <th>Total Calls</th>
                        <th>Total Minutes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in billingPeriods %}
                    <tr>
                        <td>
                            <i class="icon-arrow-up"></i> {{ b.date_start }} - <i class="icon-arrow-down"></i> {{ b.date_end }}</td>
                        {% for d in b.data %}
                            <td>{{ d }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--CDR del periodo del proveedor-->
<div class="well well-small">
    <p>
        <strong>Call Detail Report for this month</strong>
        <span class="pull-right">
            <a href="{% url 'tarifica:trunks_download_cdr' trunk_id=provider.id period_id=period_id %}" class="btn">
                <i class="icon-download"></i> Download CDR
            </a>
        </span>
        <p><br></p>
    </p>
    <table class="table table-ordered table-striped table-bordered table-hovered table-condensed">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Destination</th>
                <th>Dialed Number</th>
                <th>Origin Number</th>
                <th>Minutes</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for call in calls %}
            <tr>
                <td>{{ call.date | date }}</td>
                <td>{{ call.date | date:"H:i:s" }}</td>
                <td>{{ call.name }}</td>
                <td>{{ call.dialed_number }}</td>
                <td>{{ call.extension_number }}</td>
                <td>{{ call.duration }}</td>
                <td>{{ call.cost }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
