{% extends "wizard.html" %}

{% block title %} Initial Config{% endblock %}

{% block page-title %}
<li>
    <a href="#" style="padding-left: 0px;padding-right: 0px; font-size: 16px;">
        <span class="fui-arrow-right"></span>
    </a>
</li>
<li>
    <a style="margin-left: 10px; text-align:vertical; padding-left: 10px;" href="#">
        First Time Wizard
    </a>
</li>
{% endblock %}

{% block content %}
<div class="well well-small">
    <h4>
        Welcome to NEXTOR's Cost Reporting Plugin!    
    </h4>
</div>
<div class="alert alert-info">
    <h5>
        In order to start configuring your newly installed plugin, we need to know where this server's located, and what's the currency you'll be using throughout this application.
    </h5>
</div>
<div class="well well-small">
    <form action="{% url 'tarifica:config_initial' %}" method="post" class="form-horizontal">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="control-group">
            {{ form.country.errors }}
            <label class="control-label" for="id_country">Country
                <a class="help" href="#" data-toggle="popover" data-original-title="Country" data-content='Where is your server running?'>
                    <i class="icon-question-sign"></i>
                </a>
            </label>
            <div class="controls">
                {{ form.country }}
            </div>
        </div>
        <div class="control-group">
            {{ form.bussiness_name.errors }}
            <label class="control-label" for="id_bussiness_name">Company Name
                <a class="help" href="#" data-toggle="popover" data-original-title="Company Name" data-content="What's your company's name?">
                    <i class="icon-question-sign"></i>
                </a>
            </label>
            <div class="controls">
                {{ form.bussiness_name }}
            </div>
        </div>
        <div class="control-group">
            {{ form.contact_first_name.errors }}
            <label class="control-label" for="id_contact_first_name">Contact First Name
                <a class="help" href="#" data-toggle="popover" data-original-title="Contact First Name" data-content="What's your first name?">
                    <i class="icon-question-sign"></i>
                </a>
            </label>
            <div class="controls">
                {{ form.contact_first_name }}
            </div>
        </div>
        <div class="control-group">
            {{ form.contact_last_name.errors }}
            <label class="control-label" for="id_contact_last_name">Contact Last Name
                <a class="help" href="#" data-toggle="popover" data-original-title="Contact Last Name" data-content="What's your last name?">
                    <i class="icon-question-sign"></i>
                </a>
            </label>
            <div class="controls">
                {{ form.contact_last_name }}
            </div>
        </div>
        <div class="control-group">
            {{ form.notification_email.errors }}
            <label class="control-label" for="id_notification_email">Contact Email
                <a class="help" href="#" data-toggle="popover" data-original-title="Contact Email" data-content="Where can we reach you to send you notifications?">
                    <i class="icon-question-sign"></i>
                </a>
            </label>
            <div class="controls">
                {{ form.notification_email }}
            </div>
        </div>
        <div class="control-group">
            {{ form.currency_code.errors }}
            <label class="control-label" for="id_currency_code">Currency Code
                <a class="help" href="#" data-toggle="popover" data-original-title="Currency Code" data-content="What's the currency used by your providers? (USD, MXN, EUR, etc)">
                    <i class="icon-question-sign"></i>
                </a>
            </label>
            <div class="controls">
                {{ form.currency_code }}
            </div>
        </div>
        <div class="control-group">
            {{ form.currency_symbol.errors }}
            <label class="control-label" for="id_currency_symbol">Currency Symbol
                <a class="help" href="#" data-toggle="popover" data-original-title="Currency Symbol" data-content="What's your currency symbol? ($, €, £, etc)">
                    <i class="icon-question-sign"></i>
                </a>
            </label>
            <div class="controls">
                {{ form.currency_symbol }}
            </div>
        </div>
        <div class="control-group">
            {{ form.accepted_privacy_policy.errors }}
            <label class="control-label" for="id_accepted_privacy_policy">I've read and I accept Mango Analytics Privacy Policy and Terms of Service
            </label>
            <div class="controls">
                {{ form.accepted_privacy_policy }}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    $(function() {
        $('a.help').each(function(){
            $(this).popover({
                html: true,
                trigger: 'hover'
            });
        });
    });
    </script>
{% endblock %}