{% extends "setup.html" %}

{% block title %}Provider {{ provider.name }}{% endblock %}

{% block page-title %}
<li>
    <a href="#" style="padding-left: 0px;padding-right: 0px; font-size: 16px;">
        <span class="fui-arrow-right"></span>
    </a>
</li>
<li>
    <a style="margin-left: 10px; text-align:vertical; padding-left: 10px;" href="#">
        Provider {{ provider.name }} detail
    </a>
</li>
{% endblock %}

{% block content %}
<div class="row-fluid well well-small">
    <div class="span6">
        <p>
            Asterisk Channel Id: <strong>{{ provider.asterisk_channel_id }}</strong>
        </p>
        <p>
            Asterisk Name: <strong>{{ provider.asterisk_name }}</strong>
        </p>
        <p>
            Tech: <strong>{{ provider.provider_tech | upper }}</strong>
        </p>
        <p>
            Channels: <strong>{{ provider.channels }}</strong>
        </p>
    </div>
    <div class="span6">
        <p>
            Monthly Cost: <strong>{{ user_info.currency_symbol }}{{ provider.monthly_cost }} {{ user_info.currency_code }}</strong>
        </p>
        <p>
            Payment Type: <strong>{{ provider.payment_type }}</strong>
        </p>
        <p>
            Billing Period End: <strong>{{ provider.period_end }}</strong>
        </p>
    </div>
</div>

<div class="well well-small">
    <h4 style="display:inline-block">Tariffs</h4>
    <span class="pull-right">
        <a href="{% url 'tarifica:destinations_create' provider.id %}" class="btn btn-primary">Add Base Tariff</a>
    </span>
    <table class="table table-striped table-hovered table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Prefix</th>
                <th>Minute Fee</th>
                <th>Connection Fee</th>
                <th>Billing Interval</th>
            </tr>
        </thead>
        <tbody>
            {% for dest in destination_groups %}
            <tr>
                <td>{{ dest.destination_name.name }}</td>
                <td>
                    <img src="{{ dest.destination_country.flag }}">
                    {{ dest.destination_country.name }}
                </td>
                <td>{{ dest.prefix }}</td>
                <td>{{ user_info.currency_symbol }}{{ dest.minute_fee }} {{ user_info.currency_code }}</td>
                <td>{{ user_info.currency_symbol }}{{ dest.connection_fee|floatformat:2 }} {{ user_info.currency_code }}</td>
                <td>{{ dest.billing_interval }}</td>
                <td>
                    <a href="{% url 'tarifica:bundles_create' dest.id %}">
                        Assign Bundles
                    </a>
                </td>
                <td>
                    <a href="{% url 'tarifica:destinations_update' dest.id %}" class="btn btn-mini btn-info" data-toggle="tooltip" title="Update">
                        <i class="icon-pencil icon-white"></i>
                    </a>
                    <a href="{% url 'tarifica:destinations_delete' dest.id %}" class="btn btn-mini btn-danger" data-toggle="tooltip" title="Delete">
                        <i class="icon-remove-sign icon-white"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="well well-small">
    <!-- Paquetes configurados -->
    <h4>Configured Bundles</h4>
    <table class="table table-striped table-hovered table-condensed">
        <thead>
            <tr>
                <th>Destination</th>
                <th>Cost {{ user_info.currency_code }}</th>
                <th>Minutes/Sessions</th>
                <th>Start</th>
                <th>End</th>
                <th>Used</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            {% for bundle in bundles %}
            <tr>
                <td><img src="{{ bundle.destination_group.destination_country.flag }}"> {{ bundle.destination_group.destination_name.name }}</td>
                <td>{{ user_info.currency_symbol }}{{ bundle.cost|floatformat:2 }}</td>
                <td>{{ bundle.amount }} {{ bundle.tariff_mode }}s</td>
                <td>{{ bundle.start_date | date:"d/M/Y" }}</td>
                <td>{{ bundle.end_date | date:"d/M/Y" }}</td>
                <td>{{ bundle.usage }}</td>
                <td>{{ bundle.priority }}</td>
                <td>
                    <a href="{% url 'tarifica:bundles_update' bundle.id %}" class="btn btn-mini btn-info" data-toggle="tooltip" title="Edit">
                        <i class="icon-pencil icon-white"></i>
                    </a>
                    <a href="{% url 'tarifica:bundles_delete' bundle.id %}" class="btn btn-mini btn-danger" data-toggle="tooltip" title="Delete">
                        <i class="icon-remove-sign icon-white"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}