{% extends "wizard.html" %}

{% block title %} Test-run check {% endblock %}

{% block page-title %}
<li>
    <a href="#" style="padding-left: 0px;padding-right: 0px; font-size: 16px;">
        <span class="fui-arrow-right"></span>
    </a>
</li>
<li>
    <a style="margin-left: 10px; text-align:vertical; padding-left: 10px;" href="#">
        Test Run Status Check
    </a>
</li>
{% endblock %}

{% block content %}
<div id="container" class="well well-small">
	{% if not user_info.test_run_in_progress %}
	<h3>Test-run finished successfully!</h3>
	<p>
		<a href="{% url 'tarifica:wizard_results' %}" class="btn btn-primary">
			Go To Results
		</a>
	</p>
	{% else %}
	<h3>Sorry! We've not finished processing your call data yet.</h3>
	<p>
		<div class="progress progress-striped active" style="width:50%">
			<div class="bar" style="width: {{ percentage_imported }}%;">
				<span style="text-align:center;"><strong>{{ percentage_imported | floatformat:"2" }}%</strong></span>
			</div>
		</div>
	</p>
	<p>
		Currently, we've processed {{ percentage_imported | floatformat:"2" }}% of your data and it's taken us {{ lapsedMinutes | floatformat:"2" }} minutes, so if you have a relatively constant number of calls, it should take us around {{ minutesRemaining | floatformat:"2" }} minutes to finish.
	</p>
	{% endif %}
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    $(document).ready(function(){
		window.setInterval(function(){
			$.ajax({
				url: "{% url 'tarifica:wizard_check_test_run_status' 'update' %}",
				type: 'GET',
				dataType: 'html',
			})
			.done(function(data) {
				$('#container').html(data)
				console.log("success");
			})
			.fail(function() {
				console.log("error");
			})			
		}, 3000);
	});
    </script>
{% endblock %}