{% extends "wizard.html" %}
{% load staticfiles %}

{% block title %} Wizard - Start {% endblock %}

{% block page-title %}
<li>
    <a href="#" style="padding-left: 0px;padding-right: 0px; font-size: 16px;">
        <span class="fui-arrow-right"></span>
    </a>
</li>
<li>
    <a style="margin-left: 10px; text-align:vertical; padding-left: 10px;" href="#">
        First Time Setup
    </a>
</li>
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
	.container {
		font-size: 14px;
	}
	a.rounded-button{
		padding: 1px 8px;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		border-radius: 100%;
		font-size: 12px;
		border: 1px solid #CCC;
		box-shadow: 1px 1px 5px #FFF;
		background: #eb871c;
		line-height: 20px;
	}
	ul.inline a.active{
		background: #ee3323;
	}
	ul.unstyled li{
		line-height: 20px;
		margin: 10px;
	}
	ul.text-points li{
		padding: 10px;
	}
	h4{
		font-size: 2em;
		padding: 1.2em;
	}
	h5{
		font-size: 1.2em;
		padding-bottom: 1em;
	}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="well well-small text-center">
		<h4>Welcome to Mango Analytics!</h4>
		<h5>Installation has been completed succesfully.</h5>
		<h5>This wizard will guide you through configuring Mango Analytics.</h5>
		<hr>
		<div class="row-fluid">
			<div class="span4 text-center">
				<a href="#" class="btn btn-primary disabled"><< Previous</a>
			</div>
			<div class="span4 text-center">
				<ul class="inline">
					<li>
						<a href="#" class="rounded-button active"></a>
					</li>
					<li>
						<a href="{% url 'tarifica:wizard_start' 2 %}" class="rounded-button"></a>
					</li>
					<li>
						<a href="{% url 'tarifica:wizard_start' 3 %}" class="rounded-button"></a>
					</li>
					<li>
						<a href="{% url 'tarifica:wizard_start' 4 %}" class="rounded-button"></a>
					</li>
					<li>
						<a href="{% url 'tarifica:wizard_start' 5 %}" class="rounded-button"></a>
					</li>
				</ul>
			</div>
			<div class="span4 text-center">
				<a href="{% url 'tarifica:wizard_start' 2 %}" class="btn btn-primary">Next >></a>
			</div>
		</div>
		<br>
	</div>
	<div>
		HTTP Referrer: {{ referer }}
	</div>
</div>
{% endblock %}