{% extends "wizard.html" %}
{% load staticfiles %}

{% block title %} Wizard - Start {% endblock %}

{% block page-title %}
<li>
    <a href="#" style="padding-left: 0px;padding-right: 0px; font-size: 16px;">
        <span class="fui-arrow-right"></span>
    </a>
</li>
<li>
    <a style="margin-left: 10px; text-align:vertical; padding-left: 10px;" href="#">
        First Time Setup
    </a>
</li>
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
	.container {
		font-size: 14px;
	}
	img.logo{
		margin: 10px auto;
	}
	a.rounded-button{
		padding: 1px 8px;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		border-radius: 100%;
		font-size: 12px;
		border: 1px solid #CCC;
		box-shadow: 1px 1px 5px #FFF;
		background: #eb871c;
		line-height: 20px;
	}
	ul.unstyled li{
		line-height: 20px;
		padding-bottom: 10px;
	}
	h4{
		font-size: 2em;
		padding-bottom: 1.2em;
	}
	h5{
		font-size: 1.2em;
		padding-bottom: 1em;
	}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="text-center">
		<img class="logo" src="{% static "tarifica/img/full_logo.png" %}" alt="Hi!" />
	</div>
	<div class="well well-small text-center">
		<h4>Welcome to Mango Analytics!</h4>
		<h5>Before continuing, please note that:</h5>
		<ul class="text-left">
			<li>Mango Analytics does not modify or delete any data in your PBX.</li>
			<li>Once configured, it will run on 2:00 AM every day to keep all cost data in sync with the latest call information.</li>
			<li>
				The first import may take a lot of time, depending on the amount of calls placed and the physical resources of your PBX.
			</li>
		</ul>
	</div>
	<div>
		<div class="row-fluid">
			<div class="span4 text-center">
				<a href="#" class="btn btn-primary"><< Previous</a>
			</div>
			<div class="span4 text-center">
				<ul class="inline">
					<li>
						<a href="#" class="rounded-button"></a>
					</li>
					<li>
						<a href="#" class="rounded-button"></a>
					</li>
					<li>
						<a href="#" class="rounded-button"></a>
					</li>
					<li>
						<a href="#" class="rounded-button"></a>
					</li>
					<li>
						<a href="#" class="rounded-button"></a>
					</li>
				</ul>
			</div>
			<div class="span4 text-center">
				<a href="#" class="btn btn-primary">Next >></a>
			</div>
		</div>
		<br>
	</div>
</div>
{% endblock %}