{% extends "wizard.html" %}
{% load staticfiles %}

{% block title %} Wizard - Start {% endblock %}

{% block page-title %}
<li>
    <a href="#" style="padding-left: 0px;padding-right: 0px; font-size: 16px;">
        <span class="fui-arrow-right"></span>
    </a>
</li>
<li>
    <a style="margin-left: 10px; text-align:vertical; padding-left: 10px;" href="#">
        First Time Setup
    </a>
</li>
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
	.container {
		font-size: 14px;
	}
	a.rounded-button{
		padding: 1px 8px;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		border-radius: 100%;
		font-size: 12px;
		border: 1px solid #CCC;
		box-shadow: 1px 1px 5px #FFF;
		background: #eb871c;
		line-height: 20px;
	}
	ul.inline a.active{
		background: #ee3323;
	}
	ul.unstyled li{
		line-height: 20px;
		margin: 10px;
	}
	ul.text-points li{
		padding: 10px;
	}
	h4{
		font-size: 2em;
		padding: 1.2em;
	}
	h5{
		font-size: 1.2em;
		padding: 1em;
		line-height: 1.5em;
	}
	input[type="checkbox"]{
		display:inline;
		margin-right: 10px;
		float: left;
	}
	label.privacy{
		display: inline;
		float: left;
	}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="well well-small">
		<h5 class="text-center">In order to start configuring your newly installed plugin, we need to know where this server's located, and what's the currency you'll be using throughout this application.</h5>
		<div>
			<form action="{% url 'tarifica:wizard_start' '3' %}" method="post" class="form-horizontal">{% csrf_token %}
	        {{ form.non_field_errors }}
		        <div class="control-group">
		            {{ form.country.errors }}
		            <label class="control-label" for="id_country">Country
		                <a class="help" href="#" data-toggle="popover" data-original-title="Country" data-content='Where is your server running?'>
		                    <i class="icon-question-sign"></i>
		                </a>
		            </label>
		            <div class="controls">
		                {{ form.country }}
		            </div>
		        </div>
		        <div class="control-group">
		            {{ form.bussiness_name.errors }}
		            <label class="control-label" for="id_bussiness_name">Company Name
		                <a class="help" href="#" data-toggle="popover" data-original-title="Company Name" data-content="What's your company's name?">
		                    <i class="icon-question-sign"></i>
		                </a>
		            </label>
		            <div class="controls">
		                {{ form.bussiness_name }}
		            </div>
		        </div>
		        <div class="control-group">
		            {{ form.contact_first_name.errors }}
		            <label class="control-label" for="id_contact_first_name">Contact First Name
		                <a class="help" href="#" data-toggle="popover" data-original-title="Contact First Name" data-content="What's your first name?">
		                    <i class="icon-question-sign"></i>
		                </a>
		            </label>
		            <div class="controls">
		                {{ form.contact_first_name }}
		            </div>
		        </div>
		        <div class="control-group">
		            {{ form.contact_last_name.errors }}
		            <label class="control-label" for="id_contact_last_name">Contact Last Name
		                <a class="help" href="#" data-toggle="popover" data-original-title="Contact Last Name" data-content="What's your last name?">
		                    <i class="icon-question-sign"></i>
		                </a>
		            </label>
		            <div class="controls">
		                {{ form.contact_last_name }}
		            </div>
		        </div>
		        <div class="control-group">
		            {{ form.notification_email.errors }}
		            <label class="control-label" for="id_notification_email">Contact Email
		                <a class="help" href="#" data-toggle="popover" data-original-title="Contact Email" data-content="Where can we reach you to send you notifications?">
		                    <i class="icon-question-sign"></i>
		                </a>
		            </label>
		            <div class="controls">
		                {{ form.notification_email }}
		            </div>
		        </div>
		        <div class="control-group">
		            {{ form.currency_code.errors }}
		            <label class="control-label" for="id_currency_code">Currency Code
		                <a class="help" href="#" data-toggle="popover" data-original-title="Currency Code" data-content="What's the currency used by your providers? (USD, MXN, EUR, etc)">
		                    <i class="icon-question-sign"></i>
		                </a>
		            </label>
		            <div class="controls">
		                {{ form.currency_code }}
		            </div>
		        </div>
		        <div class="control-group">
		            {{ form.currency_symbol.errors }}
		            <label class="control-label" for="id_currency_symbol">Currency Symbol
		                <a class="help" href="#" data-toggle="popover" data-original-title="Currency Symbol" data-content="What's your currency symbol? ($, €, £, etc)">
		                    <i class="icon-question-sign"></i>
		                </a>
		            </label>
		            <div class="controls">
		                {{ form.currency_symbol }}
		            </div>
		        </div>

		        <div class="clearfix" style="margin-left:20px;">
		            {{ form.accepted_privacy_policy.errors }}
		            {{ form.accepted_privacy_policy }}
		            <label for="id_accepted_privacy_policy" class="privacy">I've read and I accept Mango Analytics Privacy Policy and Terms of Service
		            </label>
		        </div>
		        <div class="form-actions">
		            <button type="submit" class="btn btn-primary">Save</button>
		        </div>
		    </form>
		</div>
		<hr>
		<div class="row-fluid">
			<div class="span4 text-center">
				<a href="{% url 'tarifica:wizard_start' 2 %}" class="btn btn-primary"><< Previous</a>
			</div>
			<div class="span4 text-center">
				<ul class="inline">
					<li>
						<a href="{% url 'tarifica:wizard_start' 1 %}" class="rounded-button"></a>
					</li>
					<li>
						<a href="{% url 'tarifica:wizard_start' 2 %}" class="rounded-button"></a>
					</li>
					<li>
						<a href="#" class="rounded-button active"></a>
					</li>
					<li>
						<a href="{% url 'tarifica:wizard_start' 4 %}" class="rounded-button"></a>
					</li>
					<li>
						<a href="{% url 'tarifica:wizard_start' 5 %}" class="rounded-button"></a>
					</li>
				</ul>
			</div>
			<div class="span4 text-center">
				<a href="{% url 'tarifica:wizard_start' 4 %}" class="btn btn-primary">Next >></a>
			</div>
		</div>
		<br>
	</div>
</div>
{% endblock %}